<app-dialog-content-wrapper title="Change Tag" width="750px">
    <p class="smaller-text">
        You can change the tag for this specific transaction. <br/>
    </p>
    <div class="divider"></div>
    <div class="content">
        <app-transaction-preview [transaction]="transaction"></app-transaction-preview>
        <app-tag-selector (selectedTagsChange)="selectTag($event)" [multiple]="false"
                          [selectedTagIds]="[transaction.tagId ?? -1]"></app-tag-selector>
    </div>
    <ng-container dialogFooter>
        <app-button (onClick)="cancel()"
                    design="secondary"
                    height="60px"
                    rightIcon="close"
                    width="150px">
            Cancel
        </app-button>
        <app-button (click)="save()"
                    [disabled]="!selectedTag"
                    [loading]="saving"
                    design="primary"
                    height="60px"
                    rightIcon="check"
                    width="150px">
            Save
        </app-button>
    </ng-container>
</app-dialog-content-wrapper>