.root {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;

  .header-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: var(--header-height);
    z-index: 888;
  }

  .navigation-container {
    position: fixed;
    top: var(--header-height);
    bottom: 0;
    left: 0;
    width: auto;

    transition: width 150ms ease-out;
  }

  .medium-menu-backdrop {
    display: none;
    animation: navOverlayFadeIn 150ms ease-out forwards;
  }

  .main-page-container {
    height: 100%;
    width: auto;

    margin-top: var(--header-height);
    box-sizing: border-box;

    transition: all 150ms ease-out;

    position: relative;
  }
}

@media (max-width: 1000px) {
  .root {
    .main-page-container {
      margin-left: 0 !important;
    }

    .navigation-container {
      z-index: 900;
      background-color: var(--michu-tech-background);
    }
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  .medium-menu-backdrop {
    display: block !important;
    position: fixed;
    top: var(--header-height);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 899;
    cursor: pointer;

    background-color: color-mix(in srgb, var(--michu-tech-background) 80%, transparent);
  }
}

@media (max-width: 500px) {
  .root {
    --nav-open-width: 100vw !important;
  }
}

@keyframes navOverlayFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}