.tag {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  gap: 5cqw;
  border-radius: 2px;

  container: tag-container / inline-size;
  width: 100%;

  .tag-prop-square {
    height: 60px;
    width: 50px;
  }

  .tag-prop {
    flex: 1;
    height: fit-content;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    margin: auto;
  }

  #keywords {
    flex: 2;
  }

}

@container tag-container (max-width: 500px) {
  .tag {
    #keywords {
      flex: 1;
    }
  }
}

@container tag-container (max-width: 350px) {
  .tag {
    #keywords {
      display: none;
    }
  }
}