.button {
  all: unset;
  padding: 10px;
  background-color: var(--michu-tech-primary);
  box-sizing: border-box;
  cursor: pointer;
  transition: all 150ms ease-out;
  border-radius: 2px;
}

.button:hover:not(.transparent), .button:focus:not(.transparent) {
  background-color: color-mix(in srgb, var(--michu-tech-primary) 60%, var(--michu-tech-background));
}

.button:active:not(.transparent) {
  background-color: color-mix(in srgb, var(--michu-tech-primary) 40%, var(--michu-tech-background));
}

.secondary {
  background-color: color-mix(in srgb, var(--michu-tech-primary) 30%, transparent);
  border: var(--michu-tech-primary) dashed 2px;
}

.secondary:hover:not(.transparent),
.secondary:focus:not(.transparent) {
  background-color: color-mix(in srgb, var(--michu-tech-primary) 20%, var(--michu-tech-background));
}

.secondary:active:not(.transparent) {
  background-color: color-mix(in srgb, var(--michu-tech-primary) 10%, var(--michu-tech-background));
}

.icon-grid {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  justify-items: center;
}

.flex-button {
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.transparent {
  filter: opacity(50%);
  cursor: default !important;
}

.loading {
  animation-name: slow-blink;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes slow-blink {
  0% {
    opacity: 35%;
  }
  100% {
    opacity: 60%;
  }
}
