<div appPage class="page-container" pageRoute="transactions" pageTitle="Transactions">
    <app-page-with-header *ngIf="transactions$ | async as transactions else loadingTransactions">
        <ng-container pageHeader>
            <app-transaction-filter></app-transaction-filter>
        </ng-container>
        <p *ngIf="!transactions || transactions.size < 1">No transactions imported yet!</p>

        <app-expansion-list-toggle topic="transaction"></app-expansion-list-toggle>
        <div *ngFor="let key of transactions.keys()">
            <h3>{{key}}</h3>
            <div class="transactions">
                <app-transaction *ngFor="let transaction of transactions.get(key)" [transaction]="transaction">
                </app-transaction>
            </div>
        </div>

        <div #loadMore *ngIf="moreTransactionsAvailable" id="loadMore">
            <ng-template [ngTemplateOutlet]="loadingTransactions"></ng-template>
        </div>
    </app-page-with-header>
    <ng-template #loadingTransactions>
        <!--        TODO extract into directive instead of async pipe (give option for fullscreen or 100%) -->
        <div class="loading-banner">
            <span class="material-symbols-rounded loading-icon">sync</span>
            <span class="label">Loading transactions ...</span>
        </div>
    </ng-template>
</div>