<div style="container: transaction-details / inline-size;">
    <div class="transaction-details-container">
        <div class="transaction-details">
            <p class="smaller-text" style="text-align: start;">{{transaction.transactionDate.toDate() | date}}</p>
            <app-styled-amount [amount]="transaction.amount"
                               [expense]="transaction.expense">
            </app-styled-amount>
            <app-text-input [value]="aliasInput" errorText="Max length is 50 letters."
                            height="52px"
                            placeholder="Alias"
                            style="margin-top: 15px;">
            </app-text-input>
            <pre>{{transaction.receiver}}</pre>
        </div>
        <div>
            <app-text-area [maxLength]="250"
                           [value]="noteInput"
                           errorText="Max length is 250 letters."
                           height="200px"
                           placeholder="Note">
            </app-text-area>
        </div>
    </div>
</div>

<div class="tags">
    <app-tag-icon [color]="transaction.tag.color"
                  [icon]="transaction.tag.icon">
    </app-tag-icon>
    <span>{{transaction.tag.name}}</span>
    <span *ngIf="transaction.matchingKeyword" class="smaller-text">({{transaction.matchingKeyword.keyword}})</span>

    <app-button (onClick)="assignTag()"
                *ngIf="transaction.tag.defaultTag else changeTagTemplate"
                height="36px">
        Assign tag
    </app-button>
    <ng-template #changeTagTemplate>
        <app-button (onClick)="changeTag()"
                    height="36px">
            Change Tag
        </app-button>
    </ng-template>

    <ng-template [ngIf]="(transaction.duplicatedTagMatches?.length ?? 0) > 0">
        <span class="smaller-text"
              id="conflicts">
            Has conflicts!
        </span>
        <span *ngFor="let duplicate of transaction.duplicatedTagMatches"
              class="smaller-text">
            {{duplicate.tag.name}} ({{duplicate.matchingKeyword.keyword}})
        </span>
        <app-button (onClick)="resolveDuplicates()"
                    design="primary"
                    height="36px">
            Resolve
        </app-button>
    </ng-template>
</div>
