.login-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  filter: blur(12px);
  z-index: var(--z-index-background);

  img {
    object-fit: cover;
  }
}

.login-page {
  display: grid;
  grid-template-rows: calc(100svh - 8vw);
  grid-template-columns: repeat(2, 42vw);
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;

  padding: 4vw;
  box-sizing: border-box;

  .content {
    position: relative;
    width: 100%;
    height: 100%;

    app-login-form {
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 950px) {
  .login-page {
    grid-template-rows: repeat(2, 100vh);
    grid-template-columns: 92vw;
  }
}