.expansion-panel {
  transition: all 150ms ease-out;
  border-radius: 2px;

  .header-container {
    position: relative;

    .header-overlay {
      all: unset;
      background-color: transparent;
      cursor: pointer;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .header {
      height: 60px;

      display: grid;
      grid-template-rows: 60px;
      grid-template-columns: auto 60px;
      justify-items: center;
      align-items: center;

      pointer-events: none;

      .icon-button-open {
        rotate: 180deg;
      }
    }
  }

  .open-container {
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: hidden;
  }

  .open-container-open {
    border-top: solid 1px color-mix(in srgb, var(--michu-tech-foreground) 8%, transparent);
  }
}

.expansion-panel-open {
  background-color: color-mix(in srgb, var(--michu-tech-foreground) 8%, transparent);
}