.logo {
  display: flex;
  flex-flow: row wrap;
  gap: 100px;
  align-items: center;
  justify-content: center;

  .image {
    display: inline-flex;
    flex-flow: column;
    gap: 2px;
  }

  h1 {
    letter-spacing: 2px;
    font-size: clamp(60px, 10vw, 122px);
  }
}

.content {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;

  p {
    line-height: 142%;
    font-weight: 300;
    margin-top: 0;
  }
}

@media (max-width: 1000px) {
  .logo {
    flex-flow: column;
    gap: 10px;

    h1 {
      margin-top: 20px;
    }
  }
}