<div [useFullscreen]="(authService.isLoggedIn$ | async) !== 'in'"
     appPage
     class="page-container"
     pageRoute="help"
     pageTitle="Help">
    <div class="logo">
        <div class="image">
            <img alt="michu-tech.com"
                 height="120px"
                 src="/assets/michu-tech-icon.svg"
                 width="120"/>
            <a href="https://michu-tech.com"
               id="developedBy"
               target="_blank">Developed by michu-tech.com</a>
        </div>
        <h1>Help / FAQ</h1>
    </div>

    <div class="content">
        <h2>What is SwissBudget?</h2>
        <p>
            SwissBudget is a "money manager". You can use it to gain a better overview of your money. It helps you with saving money for
            specific
            or unspecified goals. It also provides useful analysis over your transactions. You can organize your money using tags.
            Additionally you can create a budget and SwissBudget will help you stay in those guidelines. <br/>
            The best thing however, is that your transactions are automatically imported by SwissBudget.
            You will never have to enter any new transaction or so.
        </p>

        <h2>How can I use SwissBudget?</h2>

        <h2>How does SwissBudget work?</h2>
        <h3>Transactions</h3>
        <p>
            A transaction is the thing that happened on your Bank Account. Either you received money or the transaction was an expense.
            <br/>
            Transactions are imported from Mails that your e-banking service sends you. So, as you surely have already heard, you will
            have to grant this app access to your e-mail account and you also have to enable detailed e-mail notifications for all
            transactions
            in your bank account. This app will be reading these notification mails and extracting the transactions from them. <br/>
            For performance gains, I highly recommend you to use a custom mail folder for the e-banking notifications
            (create a rule that automatically moves the notifications to the folder). <br/>
            You can also tell SwissBudget to automatically delete the transaction notification mails from your mail account.
            This keeps your transactions a bit more safe. <br/>
            You can alias a transaction or add a note. These values are just for you and your overview of your transactions.
            They are not included in any calculations.
        </p>

        <h3>Tags</h3>
        <p>
            You can assign a tag to a transaction. A tag is used to group transactions. Tags are also positions in your budget or savings.
            <br/>
            You can assign tags by hand or use keywords to tell SwissBudget which transaction should be mapped to what tag. <br/>
            A transaction can only be assigned to one tag. But a tag can obviously have multiple transactions. <br/>
            There are some default tags, but you can customize them entirely.
        </p>

        <h3>Keywords</h3>
        <p>
            Here it starts to get complicated. Keywords are used to identify your transactions. (the receiver part is analyzed) <br/>
            So for every imported transaction SwissBudget tries to automatically find a matching tag. To do this, it needs to know when a
            tag is matching a transaction. This can be done with keywords. If a keyword was found in the receiver of the transaction then
            the tag is assigned. <br/>
            Like tags, you can customize keywords. <br/>
            Since you can customize them, there is the case, that a transaction matches with multiple tags because multiple keywords
            matched.
            These cases will be displayed in the transaction page. I recommend you to regularly check these and assign them to the tag that
            you intended, otherwise you might have inconsistencies in your budget or savings.<br/>
            When creating keywords, you need to be careful with how you select them. For minimal errors, use a large part of the
            transaction receiver. For example "Coop Olten Street name".
            For large a selection of transactions but possibly more errors, use a small part of the transaction receiver, like "zahn". <br/>
            Don't worry, the UI will guide you through the process and help you to minimanlize issues.
        </p>

        <h3>Budget</h3>
        <h3>Savings</h3>

        <h2>Need more help?</h2>
        <app-button (onClick)="openHelpDialog()"
                    height="60px"
                    rightIcon="support_agent"
                    width="250px">
            Ask for help
        </app-button>

        <h2>Github</h2>
        <p>
            This project is public source. So feel free to checkout the code
            <a href="https://github.com/M1chaCH/swiss-budget"
               target="_blank">here</a>.
        </p>

        <app-button [useAnchor]="true"
                    height="60px"
                    leftIcon="arrow_back_ios"
                    routerLink="/"
                    style="display: inline-block; margin-top: 10px; align-self: flex-end;"
                    width="250px">
            Back
        </app-button>
    </div>
</div>