pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.receiver-and-note-container {
  container: receiverAndNote / inline-size;
  width: 100%;

  .receiver-and-note {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-template-rows: auto;

    p {
      position: relative;
      padding-top: 10px;

      .label {
        position: absolute;
        top: -3px;
        left: 0;

        font-size: 12px;
        font-weight: 300;
      }
    }
  }
}

@container receiverAndNote (max-width: 500px) {
  .receiver-and-note-container {
    .receiver-and-note {
      display: flex !important;
      flex-flow: column;
    }
  }
}