<div (click)="close($event)" *ngIf="open" id="backdrop"></div>

<div class="select-container">
    <div (click)="open = true" class="input-container">
        <input (keydown.escape)="open = false"
               (keydown.tab)="handleCompleteRequest()" [formControl]="value"
               [placeholder]="placeholder"
               class="input"/>
        <span [class.input-icon-open]="open"
              class="material-symbols-rounded input-icon">expand_more</span>
        <span *ngIf="value.invalid" class="form-error-message">{{errorMessage}}</span>
    </div>
    <div [class.options-closed]="!open" class="options">
        <button (click)="select(option)" *ngFor="let option of filteredOptions"
                [class.option-selected]="isSelected(option)"
                class="option">
            <span>{{option}}</span>
        </button>
    </div>
</div>
