<app-dialog-content-wrapper title="Assign tag" width="750px">
    <p class="smaller-text">
        Choose a tag to assign to the transaction. <br/>
        You can either assign a tag only for this specific transaction or you can create a new keyword in the selected tag. <br/>
        With the second option every similar transaction will automatically get the tag you chose. <br/>
        We recommend the second tag. <br/>
    </p>
    <div class="divider"></div>
    <div class="content">
        <app-transaction-preview [transaction]="transaction"></app-transaction-preview>
        <app-tag-selector (selectedTagsChange)="tagSelected($event)" [multiple]="false"></app-tag-selector>
        <app-checkbox [value]="addKeywordControl" label="Add keyword?" style="align-self: flex-start;"></app-checkbox>
        <div *ngIf="!!addKeywordControl.value">
            <div class="checked-keyword">
                <app-text-input [value]="keywordControl"
                                height="60px"
                                hint="Keyword"
                                placeholder="Keyword"
                                width="100%">
                </app-text-input>
                <span *ngIf="keywordChecked && !errorMessage"
                      class="material-symbols-rounded"
                      style="color: var(--michu-tech-accent);">
                    check
                </span>
                <span *ngIf="keywordChecked && errorMessage"
                      class="material-symbols-rounded"
                      style="color: var(--michu-tech-warn);">
                    exclamation
                </span>
            </div>
            <p class="smaller-text">The keyword will be added to the tag. SwissBudget will scan for other matches with the keyword.</p>
            <p *ngIf="errorMessage" class="form-error-message">{{errorMessage}}</p>
            <div class="divider"></div>
            <p class="smaller-text">
                Keywords should be as short as possible (to include the most similar transactions) but keywords should also not be too short
                (to not include many unwanted transactions). <br/>
                The keyword can't already exist in an other tag. <br/>
                Visit the configuration page for more detailed options. <br/>
                Alias and Notes are ignored by keywords.
            </p>
        </div>
    </div>

    <ng-container dialogFooter>
        <app-button (onClick)="cancel()"
                    design="secondary"
                    height="60px"
                    rightIcon="close"
                    width="150px">
            Cancel
        </app-button>
        <app-button (click)="save()"
                    [disabled]="!selectedTag || (addKeywordControl.value && !!errorMessage)"
                    [loading]="saving"
                    design="primary"
                    height="60px"
                    rightIcon="check"
                    width="150px">
            Save
        </app-button>
    </ng-container>
</app-dialog-content-wrapper>