.smaller-text {
  text-align: start;
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-flow: column;
  gap: 20px;

  .checked-keyword {
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: calc(100% - 42px - 10px) 42px;
    gap: 10px;
    align-items: center;

    width: 100%;
    max-width: 500px;
    min-width: 200px;

    .material-symbols-rounded {
      font-size: 32px !important;
      animation: flyIn ease-out 250ms forwards;
    }
  }
}
