<div [class.disabled]="control.disabled"
     [class.secondary]="design === 'secondary'"
     [style.height]="height"
     [style.width]="width"
     class="container">
    <input
        (change)="edited = true"
        (keydown.enter)="submit.emit()"
        (keydown.escape)="cancel.emit()"
        [autocomplete]="password ? 'current-password' : ''"
        [formControl]="control"
        [placeholder]="isRequired() ? placeholder + '*' : placeholder"
        [type]="password ? 'password' : 'text'"
        class="textarea"/>
    <span *ngIf="hint && !control.invalid"
          class="hint">{{hint}}</span>
    <span *ngIf="control.invalid && edited"
          class="hint error">{{errorText}}</span>
</div>
