<form [formGroup]="form.group">
    <app-text-input (submit)="login()"
                    [formControl]="form.mail"
                    errorText="not valid mail address"
                    placeholder="Mail">
    </app-text-input>
    <app-text-input (submit)="login()"
                    [formControl]="form.password"
                    [password]="true"
                    errorText="password required"
                    placeholder="Password">
    </app-text-input>
    <app-checkbox [value]="form.stay" label="Stay?"></app-checkbox>
    <p *ngIf="errorMessage else emtpy" class="form-error-message">{{errorMessage}}</p>
    <ng-template #emtpy>
        <div></div>
    </ng-template>
    <app-button (onClick)="login()" [disabled]="form.group.invalid" [loading]="loading"
                rightIcon="login">
        Sign In
    </app-button>
    <app-button [useAnchor]="true" design="secondary"
                routerLink="setup">
        Get started
    </app-button>
</form>
