<div class="welcome">
    <img alt="michu-tech.com"
         height="120"
         ngSrc="/assets/michu-tech-icon.svg"
         priority
         width="120"/>
    <a href="https://michu-tech.com"
       id="developedBy"
       target="_blank">Developed by
                       michu-tech.com</a>
    <h1 id="welcome"><span>W</span>elcome</h1>
    <p id="welcomeText">
        <span>to</span>
        Swiss Budget! A WebApp that lets you manage your money in a breeze. It features automatic transaction import via E-Mail!
    </p>
</div>