.welcome {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  font-family: "Oswald", sans-serif;

  #developedBy {
    margin: 5px 0 0 0;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: var(--michu-tech-foreground);
  }

  #welcome {
    margin: 40px 0 0 0;
    font-size: 56px;
    font-weight: 200;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 130%;

    span {
      color: var(--michu-tech-accent);
      font-size: 72px;
      font-weight: 700;
    }
  }

  #welcomeText {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;

    span {
      padding-left: 36px;
    }
  }
}