<nav class="menu-container">
    <a
        (click)="onNavLinkClicked()"
        [routerLink]="'app/' + pages.HOME"
        class="menu-item"
        routerLinkActive="active-menu-item">
        <span>Home</span>
        <span class="material-symbols-rounded">account_balance</span>
    </a>
    <a
        (click)="onNavLinkClicked()"
        [routerLink]="'app/' + pages.BUDGET"
        class="menu-item"
        routerLinkActive="active-menu-item">
        <span>Budget</span>
        <span class="material-symbols-rounded">trending_up</span>
    </a>
    <a
        (click)="onNavLinkClicked()"
        [routerLink]="'app/' + pages.TRANSACTIONS"
        class="menu-item"
        routerLinkActive="active-menu-item">
        <span>Transactions</span>
        <span class="material-symbols-rounded">payments</span>
    </a>
    <a
        (click)="onNavLinkClicked()"
        [routerLink]="'app/' + pages.SAVE"
        class="menu-item"
        routerLinkActive="active-menu-item">
        <span>Save</span>
        <span class="material-symbols-rounded">savings</span>
    </a>
    <a
        (click)="onNavLinkClicked()"
        [routerLink]="'app/' + pages.CONFIGURATION"
        class="menu-item"
        routerLinkActive="active-menu-item">
        <span>Configuration</span>
        <span class="material-symbols-rounded">tune</span>
    </a>
    <a
        (click)="onNavLinkClicked()"
        [routerLink]="'app/' + pages.PROFILE"
        class="menu-item"
        routerLinkActive="active-menu-item">
        <span>Profile</span>
        <span class="material-symbols-rounded">account_circle</span>
    </a>
    <a
        (click)="onNavLinkClicked()"
        [routerLink]="'app/' + pages.HELP"
        class="menu-item"
        routerLinkActive="active-menu-item">
        <span>Help</span>
        <span class="material-symbols-rounded">support_agent</span>
    </a>
</nav>