<form [id]="formId" [style.height]="height" [style.width]="width" class="date-picker-input">
    <!--    TODO add 0 before day and month -->
    <input [formControl]="dayControl" max="31" maxlength="2" min="0" placeholder="DD" style="width: 26px;" type="number"/>
    <span>.</span>
    <input [formControl]="monthControl" max="12" maxlength="2" min="0" placeholder="MM" style="width: 26px;" type="number"/>
    <span>.</span>
    <input [formControl]="yearControl" max="9999" maxlength="4" min="1900" placeholder="YYYY" style="width: 50px;" type="number"/>

    <div style="flex: 1;"></div>

    <button (click)="calendarOpen.next(true)" [disabled]="disabled" class="icon-button">
        <span class="material-symbols-rounded">event</span>
    </button>

    <span *ngIf="hint && !errorMessage" class="subtext">{{hint}}</span>
    <span *ngIf="errorMessage" class="form-error-message subtext">{{errorMessage}}</span>
</form>

<ng-template [appFieldExtensionForNativeId]="formId" [appFieldExtension]="calendarOpen" appFieldExtensionSide="bottom">
    <app-date-picker-form (valueChange)="valueSelected($event)" [initialValue]="this.control.value"></app-date-picker-form>
</ng-template>