.date-picker-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  gap: 2px;

  min-width: 180px;
  min-height: 55px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: color-mix(in srgb, var(--michu-tech-primary) 75%, var(--michu-tech-background));

  position: relative;

  input {
    all: unset;
    background-color: transparent;
    color: var(--michu-tech-foreground);
    text-align: end;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .subtext {
    position: absolute;
    left: 5px;
    bottom: 1px;
    font-weight: 600;
    font-size: 12px;
  }

  .icon-button {
    padding-left: 20px;
  }
}