.filter-container {
  width: 100%;
  container: transaction-filter / inline-size;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .filter {
    width: 100cqw;
    max-width: 1000px;

    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, calc((95% - 5px) / 3));
    grid-auto-rows: auto;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

    margin-bottom: 12px;

    #query, #tags {
      width: 100%;
      height: 100%;
      grid-column: 1/4;
    }

    #quickDates {
      display: flex;
      flex-flow: column;
      gap: 2px;
    }
  }

  #needsAttention {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .icon {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: var(--michu-tech-warn);
      display: flex;
      align-items: center;
      justify-content: center;

      .material-symbols-rounded {
        font-size: 18px !important;
      }
    }
  }
}

@container transaction-filter (max-width: 700px) {
  .filter-container {
    .filter {
      grid-template-columns: 95% !important;

      #query, #tags {
        grid-column: 1 !important;
      }
    }
  }
}
