.transaction-importer-banner {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  box-sizing: border-box;
  background-color: color-mix(in srgb, var(--michu-tech-foreground) 50%, var(--michu-tech-background));
  color: var(--michu-tech-background);
  z-index: 899;

  .state {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}