<form [formGroup]="formGroup"
      class="tag-detail">
    <app-text-input [formControlName]="NAME_CONTROL_NAME"
                    height="60px"
                    width="250px">
    </app-text-input>

    <div class="selectors">
        <app-tag-color-selector [formControlName]="COLOR_CONTROL_NAME"
                                class="selector-item">
        </app-tag-color-selector>

        <app-tag-icon-selector [formControlName]="ICON_CONTROL_NAME"
                               class="selector-item">
        </app-tag-icon-selector>
    </div>

    <app-button (click)="delete()"
                *ngIf="!tag.defaultTag"
                design="secondary"
                height="42px"
                rightIcon="delete"
                width="150px">
        Delete
    </app-button>
</form>