.container {
  container: input / size;

  transition: all 150ms ease-out;

  background-color: color-mix(in srgb, var(--michu-tech-primary) 75%, var(--michu-tech-background));
  padding: 10px;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;

  display: inline-flex;
  align-items: center;

  .textarea {
    all: unset;

    width: 100cqw;
    height: 90cqh;
    margin: 0;
    box-sizing: border-box;
    word-break: break-word;

    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .length {
    position: absolute;
    top: 2cqh;
    right: 1cqw;
    font-weight: 600;
    font-size: 12px;
    opacity: 0.6;
  }

  .hint {
    position: absolute;
    bottom: 2cqh;
    font-weight: 600;
    font-size: 12px;

    animation: 250ms ease-out messageFlyIn;
  }

  .error {
    color: var(--michu-tech-warn);
  }
}

.container:hover:not(.transparent), .container:focus:not(.transparent) {
  background-color: color-mix(in srgb, var(--michu-tech-primary) 60%, var(--michu-tech-background));
}

.secondary {
  background-color: color-mix(in srgb, var(--michu-tech-primary) 30%, transparent);
  border: var(--michu-tech-primary) dashed 2px;
}

.secondary:hover:not(.transparent) {
  background-color: color-mix(in srgb, var(--michu-tech-primary) 20%, var(--michu-tech-background));
}

.secondary:active:not(.transparent), .secondary:focus:not(.transparent) {
  background-color: color-mix(in srgb, var(--michu-tech-primary) 10%, var(--michu-tech-background));
}

.transparent {
  filter: opacity(50%);
  cursor: default !important;
}
