<app-expansion-panel [open]="needsAttention" topic="transaction">
    <div class="transaction-header" expansion-panel-header>
        <app-styled-amount [amount]="transaction.amount"
                           [expense]="transaction.expense">
        </app-styled-amount>
        <span class="smaller-text" id="receiverText">{{!!transaction.alias ? transaction.alias : transaction.receiver}}</span>
        <span class="smaller-text">
            {{transaction.transactionDate.toDate() | date}}
        </span>
        <app-tag-icon [color]="transaction.tag.color"
                      [icon]="transaction.tag.icon"
                      class="tag">
        </app-tag-icon>
        <div *ngIf="needsAttention" id="needsAttention">
            <span class="material-symbols-rounded">priority_high</span>
        </div>
    </div>
    <app-transaction-detail [transaction]="transaction"></app-transaction-detail>
</app-expansion-panel>
