<div class="transaction">
    <span class="smaller-text">
        {{transaction.transactionDate | date}}
    </span>
    <span [style.color]="transaction.expense ? 'var(--michu-tech-warn)' : 'var(--michu-tech-foreground)'">
        <span *ngIf="transaction.expense">-</span>
        {{transaction.amount | currency}}
    </span>
    <span class="smaller-text">{{transaction.receiver}}</span>
    <div [style.background-color]="transaction.tag.color"
         class="tag">
        <span [style.color]="useBlackIcon ? 'var(--michu-tech-black)' : 'var(--michu-tech-white)'"
              class="material-symbols-rounded">
            {{transaction.tag.icon}}
        </span>
    </div>
    <!--    TODO make expandable and allow modifications there-->
    <button class="icon-button" style="height: 80%; aspect-ratio: 1 / 1;">
        <span class="material-symbols-rounded">
            expand_more
        </span>
    </button>
</div>