<div class="setup-subpage">
  <h2 style="margin: 0 0 5px 0;">Get Started</h2>
  <p style="margin: 0 0 16px 0;">Follow the next few steps to get started with your Swiss Budget.
    The setup takes about 6 minutes.</p>
  <div style="height: 500px;">
    <app-steps-panel [cursor]="cursor" [showNavigation]="false">
      <div *appPanelStep class="steps-panel-step setup-step-container">
        <h3>E-Mail Account</h3>
        <p>Enter your mail address and password. We need these credentials to import your
          transaction notifications.</p>
        <p>This will automatically also be the login to this application.</p>
        <form [formGroup]="form.group" class="controls">
          <app-text-input (submit)="checkMailCredentials()" [value]="form.mail"
                          errorText="not valid mail address"
                          height="60px"></app-text-input>
          <app-text-input (submit)="checkMailCredentials()" [password]="true"
                          [value]="form.password"
                          errorText="password required"
                          height="60px"></app-text-input>
          <p *ngIf="errorMessage" class="form-error-message">{{errorMessage}}</p>
          <app-button (onClick)="checkMailCredentials()"
                      height="60px"
                      rightIcon="chevron_right">Next
          </app-button>
        </form>
      </div>
      <div *appPanelStep class="steps-panel-step">
        <span>two</span>
      </div>
      <div *appPanelStep class="steps-panel-step">
        <span>three</span>
      </div>
    </app-steps-panel>
    <div style="align-self: flex-start;">
      <app-button [useAnchor]="true" height="60px" routerLink="login" width="125px">
        Cancel
      </app-button>
    </div>
  </div>
</div>
